.score-card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 26);
    border-radius: 5px;
    margin: 1rem 0;
    max-width: 1000px;
    margin:0 auto;
}

.score-sheet-section {
    background-color: lightgray;
    border: solid 1px;
    margin: 3px;
}

.score-container {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: 2; */
    border: solid;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 26);
    border-radius: 5px;
    margin: 1rem;
    background-color: LightBlue;
}

.score-open-close {
    display: grid;
    grid-template-columns: auto auto;
}

.section-header {
    background-color: LightGreen;
}

.score-sheet {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr;
}

.input {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.p-label, .p-input, .d-label, .d-input {
    padding: 5px 0 5px 0;
    font-size: 1.1rem;
    font-weight: normal;
    color: #5a5a5a;
    margin: 0 5px;
}

label {
    font-size: 1.1rem;
    margin-left: 10px;
    pointer-events: none;
}

@media only screen and (max-width: 440px) {
    .text-area {
        width: 85%;
    }
}

@media only screen and (min-width: 441px) {
    .text-area {
        width: 90%;
    }
}

.text-area {
    float: left;
    min-height: 50px;
    outline: none;
    resize: none;
    border: 1px solid grey;
    margin: 0 0 10px 10px;
    font-family: "Roboto", sans-serif;
}

.comment-label {
    display: block;
}

.select:hover {
    border: solid 2px blue;
}